.old-price {
    text-decoration: line-through;
    opacity: 0.6;
}

.btn-cart {
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
    border: none;
    padding: 5px 10px;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

a:hover {
    opacity: 0.6;
}

.arivalls {}

.arivalls-row {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.name {
    font-size: 14px;
}

.btn.favorite {
    color: red;
}

.search {
    padding: 10px 1.5rem;
}